.blobs{
    filter:url('#goo');
    position:absolute;
    top:10rem;
    left:0;
    bottom:0;
    right:0;
}
$dist-x:65px;
$dist-y:65px;
@keyframes blob-left-top-anim{
    0%{
        transform:scale(2) translate(0,0);
    }
    33%{
        transform:scale(1) translate(-$dist-x,0);
    }
    62%{
        transform:scale(0.5) translate(-$dist-x,-$dist-y);
    }
    94%{
        transform:scale(2) translate(0,0);
    }
}

@keyframes blob-right-top-anim{
    0%{
        transform:scale(2) translate(0,0);
    }
    33%{
        transform:scale(1) translate($dist-x,0);
    }
    64%{
        transform:scale(0.5) translate($dist-x,-$dist-y);
    }
    96%{
        transform:scale(2) translate(0,0);
    }
}
@keyframes blob-left-bottom-anim{
    0%{
        transform:scale(2) translate(0,0);
    }
    33%{
        transform:scale(1) translate(-$dist-x,0);
    }
    66%{
      transform:scale(0.5) translate(-$dist-x,$dist-y);
    }
    98%{
      transform:scale(2) translate(0,0);
    }
}
@keyframes blob-right-bottom-anim{
    0%{
        transform:scale(2) translate(0,0);
    }
    33%{
        transform:scale(1) translate($dist-x,0);
    }
    68%{
        transform:scale(0.5) translate($dist-x,$dist-y);
    }
    100%{
        transform:scale(2) translate(0,0);
    }
}
.blob{
    position:absolute;
    background:#292828;
    left:50%;
    top:10%;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    color:white;
    font-size:40px;
    border-radius:100%;
    margin-top:-50px;
    margin-left:-50px;
    animation:blob-left-top-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 4s infinite;

    &:nth-child(2){
        animation-name:blob-right-top-anim;
    }
    &:nth-child(3){
        animation-name:blob-left-bottom-anim;
    }
    &:nth-child(4){
        animation-name:blob-right-bottom-anim;
    }
}

$dist-x1:0;
$dist-x2:100px;
$dist-x3:200px;
$dist-x4:-200px;
$dist-x5:-100px;
$dist-y1:0;
$dist-y2:100px;
$dist-y3:100px;
$dist-y4:-200px;
$dist-y5:-100px;

$point1: 0, 50px;
$point2: -50px, 50px;
$point3: -150px, 50px;
$point4: -75px, -50px;
$point5: -50px, -100px;
$point6: 0, -100px;
$point7: 50px, -100px;
$point8: 75px, 25px;
$point9: 150px, 50px;
$point10: 50px, 50px;


@keyframes blob-first-anim{
    0%{
        transform:scale(1) translate($point1);
    }
    20%{
        transform:scale(.5) translate($point3);
    }
    40%{
        transform:scale(.25) translate($point5);
    }
    60%{
        transform:scale(.25) translate($point7);
    }
    80%{
        transform:scale(.5) translate($point9);
    }
    100%{
        transform:scale(1) translate($point1);
    }
}
@keyframes blob-second-anim{
    0%{
        transform:scale(.5) translate($point3);
    }
    1%{
        transform:scale(.5) translate($point3);
    }
    20%{
        transform:scale(.25) translate($point5);
    }
    40%{
        transform:scale(.25) translate($point7);
    }
    60%{
        transform:scale(.5) translate($point9);
    }
    80%{
        transform:scale(1) translate($point1);
    }
    100%{
        transform:scale(.5) translate($point3);
    }
}
@keyframes blob-third-anim{
    0%{
        transform:scale(.25) translate($point5);
    }
    20%{
        transform:scale(.25) translate($point7);
    }
    40%{
        transform:scale(.5) translate($point9);
    }
    60%{
        transform:scale(1) translate($point1);
    }
    80%{
        transform:scale(.5) translate($point3);
    }
    100%{
        transform:scale(.25) translate($point5);
    }
}
@keyframes blob-fourth-anim{
    0%{
        transform:scale(.25) translate($point7);
    }
    20%{
        transform:scale(.5) translate($point9);
    }
    40%{
        transform:scale(1) translate($point1);
    }
    60%{
        transform:scale(.5) translate($point3);
    }
    80%{
        transform:scale(.25) translate($point5);
    }
    100%{
        transform:scale(.25) translate($point7);
    }
}
@keyframes blob-fifth-anim{
    0%{
        transform:scale(.5) translate($point9);
    }
    20%{
        transform:scale(1) translate($point1);
    }
    40%{
        transform:scale(.5) translate($point3);
    }
    60%{
        transform:scale(.25) translate($point5);
    }
    80%{
        transform:scale(.25) translate($point7);
    }
    100%{
        transform:scale(.5) translate($point9);
    }
}
.blob_single{
    position:absolute;
    background:#050505;
    left:50%;
    top:50%;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    color:white;
    font-size:40px;
    border-radius:100%;
    margin-top:-50px;
    margin-left:-50px;
    animation:blob-first-anim linear 7s infinite;

    &:nth-child(2){
        animation-name:blob-second-anim;
    }
    &:nth-child(3){
        animation-name:blob-third-anim;
    }
    &:nth-child(4){
        animation-name:blob-fourth-anim;
    }
    &:nth-child(5){
        animation-name:blob-fifth-anim;
    }
}