.blobs {
  filter: url("#goo");
  position: absolute;
  top: 10rem;
  left: 0;
  bottom: 0;
  right: 0; }

@keyframes blob-left-top-anim {
  0% {
    transform: scale(2) translate(0, 0); }
  33% {
    transform: scale(1) translate(-65px, 0); }
  62% {
    transform: scale(0.5) translate(-65px, -65px); }
  94% {
    transform: scale(2) translate(0, 0); } }

@keyframes blob-right-top-anim {
  0% {
    transform: scale(2) translate(0, 0); }
  33% {
    transform: scale(1) translate(65px, 0); }
  64% {
    transform: scale(0.5) translate(65px, -65px); }
  96% {
    transform: scale(2) translate(0, 0); } }

@keyframes blob-left-bottom-anim {
  0% {
    transform: scale(2) translate(0, 0); }
  33% {
    transform: scale(1) translate(-65px, 0); }
  66% {
    transform: scale(0.5) translate(-65px, 65px); }
  98% {
    transform: scale(2) translate(0, 0); } }

@keyframes blob-right-bottom-anim {
  0% {
    transform: scale(2) translate(0, 0); }
  33% {
    transform: scale(1) translate(65px, 0); }
  68% {
    transform: scale(0.5) translate(65px, 65px); }
  100% {
    transform: scale(2) translate(0, 0); } }

.blob {
  position: absolute;
  background: #292828;
  left: 50%;
  top: 10%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite; }
  .blob:nth-child(2) {
    animation-name: blob-right-top-anim; }
  .blob:nth-child(3) {
    animation-name: blob-left-bottom-anim; }
  .blob:nth-child(4) {
    animation-name: blob-right-bottom-anim; }

@keyframes blob-first-anim {
  0% {
    transform: scale(1) translate(0, 50px); }
  20% {
    transform: scale(0.5) translate(-150px, 50px); }
  40% {
    transform: scale(0.25) translate(-50px, -100px); }
  60% {
    transform: scale(0.25) translate(50px, -100px); }
  80% {
    transform: scale(0.5) translate(150px, 50px); }
  100% {
    transform: scale(1) translate(0, 50px); } }

@keyframes blob-second-anim {
  0% {
    transform: scale(0.5) translate(-150px, 50px); }
  1% {
    transform: scale(0.5) translate(-150px, 50px); }
  20% {
    transform: scale(0.25) translate(-50px, -100px); }
  40% {
    transform: scale(0.25) translate(50px, -100px); }
  60% {
    transform: scale(0.5) translate(150px, 50px); }
  80% {
    transform: scale(1) translate(0, 50px); }
  100% {
    transform: scale(0.5) translate(-150px, 50px); } }

@keyframes blob-third-anim {
  0% {
    transform: scale(0.25) translate(-50px, -100px); }
  20% {
    transform: scale(0.25) translate(50px, -100px); }
  40% {
    transform: scale(0.5) translate(150px, 50px); }
  60% {
    transform: scale(1) translate(0, 50px); }
  80% {
    transform: scale(0.5) translate(-150px, 50px); }
  100% {
    transform: scale(0.25) translate(-50px, -100px); } }

@keyframes blob-fourth-anim {
  0% {
    transform: scale(0.25) translate(50px, -100px); }
  20% {
    transform: scale(0.5) translate(150px, 50px); }
  40% {
    transform: scale(1) translate(0, 50px); }
  60% {
    transform: scale(0.5) translate(-150px, 50px); }
  80% {
    transform: scale(0.25) translate(-50px, -100px); }
  100% {
    transform: scale(0.25) translate(50px, -100px); } }

@keyframes blob-fifth-anim {
  0% {
    transform: scale(0.5) translate(150px, 50px); }
  20% {
    transform: scale(1) translate(0, 50px); }
  40% {
    transform: scale(0.5) translate(-150px, 50px); }
  60% {
    transform: scale(0.25) translate(-50px, -100px); }
  80% {
    transform: scale(0.25) translate(50px, -100px); }
  100% {
    transform: scale(0.5) translate(150px, 50px); } }

.blob_single {
  position: absolute;
  background: #050505;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  animation: blob-first-anim linear 7s infinite; }
  .blob_single:nth-child(2) {
    animation-name: blob-second-anim; }
  .blob_single:nth-child(3) {
    animation-name: blob-third-anim; }
  .blob_single:nth-child(4) {
    animation-name: blob-fourth-anim; }
  .blob_single:nth-child(5) {
    animation-name: blob-fifth-anim; }

.inpsyde_user_content {
  width: 90%;
  margin: 3rem auto 0 auto;
  background: #ffffff;
  padding: 2rem; }

.inpsyde_user {
  display: none; }
  .inpsyde_user div {
    margin: 1rem 0; }
